<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Player</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/player">Player</a></li>
              <li class="breadcrumb-item active">Tambah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Form tambah player</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/player/create" method="POST" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" placeholder="Masukan name" required>
                    </div>
                    <div class="form-group">
                      <label for="username">User Name</label>
                      <input type="text" class="form-control" name="username" placeholder="Masukan username" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="email" placeholder="Masukan email" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Masukan password" required>
                    </div>
                    <div class="form-group">
                      <label for="phoneNumber">No.Telephone</label>
                      <input type="number" class="form-control" name="phoneNumber" placeholder="Masukan nomor telephone" required>
                    </div>
                    <div class="form-group">
                      <label for="avatar">Gambar</label>
                      <input type="file" class="form-control" name="avatar" id="avatar" placeholder="Masukan avatar" required>
                      <br>
                      <img src="" id="preview">
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  function readURL(input){
    if(input.files && input.files[0]){
      const reader = new FileReader();

      reader.onload = function(e){
        $('#preview').attr('src',e.target.result);
        $('#preview').attr('width','20%');
        $('#preview').attr('height','20%');
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $('#avatar').change(function(){
    readURL(this);
  })
</script>
